@model IEnumerable<Project.Models.medicine>

@{
    ViewBag.Title = "GetListproductForUser";
}

<h2>GetListproductForUser</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
           
            @Html.ActionLink("Details", "DetailsProduct", new { id=item.medicineID }) |
          
        </td>
    </tr>
}

</table>
